services:
  postgres:
    image: postgres:18.1-trixie
    container_name: openrouter_container
    restart: unless-stopped
    environment:
      POSTGRES_DB: openrouter_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
volumes:
  postgres_data: